[submodule "3rdparty/SingleApplication"]
	path = 3rdparty/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "3rdparty/qcoro"]
	path = 3rdparty/qcoro
	url = https://github.com/danvratil/qcoro.git
[submodule "3rdparty/qwindowkit"]
	path = 3rdparty/qwindowkit
	url = https://github.com/stdware/qwindowkit.git
[submodule "3rdparty/qt-material-widgets"]
	path = 3rdparty/qt-material-widgets
	url = https://github.com/yansong1221/qt-material-widgets.git
[submodule "3rdparty/qskinny"]
	path = 3rdparty/qskinny
	url = https://github.com/uwerat/qskinny.git
